<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FontFamily" value="Microsoft Sans Serif" />
    <add key="FontSize" value="14" />
    <!-- winLight|obsiWindows|solarizedDark|winDark" -->
    <add key="Theme" value="winDark" />
    <add key="BeepOnNoMatch" value="false" />
    <add key="PopupTitleVisible" value="false" />
    <add key="PreferredEditorLocation" value="C:\Program Files (x86)\Vim\vim81\gvim.exe" />
    <add key="ProcessExplorerPath" value="C:\Program Files (x86)\SysInternals\Procexp.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="GlobalHotKey" value="Oem3" /> <!-- Focus on Windows + GlobalHotKey -->
    <add key="ViewClipboardHotKey" value="Oem7" /> <!-- Focus on Windows + GlobalHotKey -->
    <add key="ShowHiddenItems" value="true" />
    <add key="DefaultViewMode" value="Detail" />
    <add key="ConsoleEncoding" value="850" />
    <add key="NotificationDuration" value="3" />
    <add key="LoadLastLayout" value="false" />
    <add key="Highlights" value="false" />
    <add key="CenterPopup" value="true" />
    <add key="PopupAnimation" value="Slide" />
    <add key="KeyMode" value="Undefined" />
    <add key="CornerRadius" value="4" />
    <add key="TransparentBackground" value="false" />
    <add key="ShowSearchStringInClassicMode" value="false" />
    <add key="HeadersVisible" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.3.0" newVersion="1.4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>