<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.4" targetFramework="net47" />
  <package id="ControlzEx" version="4.0.0-alpha0196" targetFramework="net47" />
  <package id="Dirkster.AvalonDock" version="3.4.0.6" targetFramework="net47" />
  <package id="Dirkster.AvalonDock.Themes.Expression" version="3.4.0.4" targetFramework="net47" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net47" />
  <package id="Fluent.Ribbon" version="7.0.0-alpha0456" targetFramework="net47" />
  <package id="MahApps.Metro" version="2.0.0-alpha0105" targetFramework="net47" />
  <package id="MahApps.Metro.IconPacks" version="3.0.0-alpha0088" targetFramework="net47" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net46" />
</packages>